<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Список стран</title>
</head>
<body>
<div class="container">

    <h3 th:text="${company.name}"></h3>
    <hr>
    <a th:href="@{/company/addCountry (id=${company.id_cmp})}"
       class="btn btn-primary btn-sm mb-3"> Прикрепить страну </a>
    <br/>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Страна</th>
            <th>Действия</th>


        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCountry : ${country}">
            <td th:text="${tempCountry.id}" />
            <td th:text="${tempCountry.name}" />
            <td>
                <a th:href="@{/company/addCountry (id=${company.id_cmp}, id=${tempCountry.id_ctry})}"
                   class="btn btn-primary btn-sm mb-3"> Прикрепить страну </a>
            </td>
        </tr>

        </tbody>
    </table>


    <a th:href="@{/company/list}">К списку компаний</a>


</div>
</body>
</html>