<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Добавление жанров</title>
</head>
<body>
<div class="container">

    <h3 th:text="${game_t.name}"></h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempGenre : ${genre}">

            <td th:text="${tempGenre.id}" />
            <td th:text="${tempGenre.name}" />
            <td>
                <a th:href="@{/game_t/addGenre (id_genre=${tempGenre.id}, id_game=${game_t.id})}"
                   class="btn btn-info btn-sm">Присвоить</a>
            </td>

        </tr>
        <a th:href="@{/}">В главное меню</a>

</div>
</body>
</html>