<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Список жанров</title>
</head>
<body>
<div class="container">

    <h3 th:text="${game_t.name}"></h3>
    <hr>
    <a th:href="@{/game_t/selectGenre (id=${game_t.id})}"
       class="btn btn-primary btn-sm mb-3"> Присвоить жанр </a>
    <br/>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Параметры</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempGenre : ${game_t.Genres}">
            <td th:text="${tempGenre.id}" />
            <td th:text="${tempGenre.name}" />
            <td>
                <a th:href="@{/game_t/deleteGenre (id_genre=${tempGenre.id}, id_game=${game_t.id})}"
                   class="btn btn-warning btn-sm"
                   onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
            </td>
        </tr>

        </tbody>
    </table>


    <a th:href="@{/game_t/list}">К списку игр</a>


</div>
</body>
</html>