<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <title>Список программ для 3Д графики</title>
</head>
<body>
<div class="container">

  <h3>Программы</h3>
  <hr>
  <a th:href="@{/prog_3d/add}"
     class="btn btn-primary btn-sm mb-3"> Добавить программу в список </a>
  <br/>


  <hr>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Программа</th>
      <th>Назначение</th>
      <th>Параметры</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="tempProg_3d : ${prog_3d}">

      <td th:text="${tempProg_3d.id}" />
      <td th:text="${tempProg_3d.name}" />
      <td th:text="${tempProg_3d.purpose}" />

      <td>
        <a th:href="@{/prog_3d/update (id=${tempProg_3d.id})}"
           class="btn btn-info btn-sm">Обновить</a>

        <a th:href="@{/prog_3d/delete (id=${tempProg_3d.id})}"
           class="btn btn-warning btn-sm"
           onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
      </td>

    </tr>

    </tbody>
  </table>

  <hr>
  <a th:href="@{/}">В главное меню</a>


</div>
</body>
</html>