<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Обновить информацию о магазинах</title>
</head>

<body>
<div class="container">
    <h3>Магазины</h3>
    <hr>

    <p class="h4 mb-4">Обновить информацию о магазинах</p>

    <form action="#" th:action="@{/game_store/save}" th:object="${game_store}"
          method="POST">

        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4"
               placeholder="Название" required>

        <hr>

        <button type="submit" class="btn btn-warning col-2">Сохранить</button>
    </form>
    <hr>
    <a th:href="@{/game_store/list}">К списку магнитол</a>
</div>
</body>

</html>