<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Список игровых движков</title>
</head>
<body>
<div class="container">

    <h3>Движки</h3>
    <hr>
    <a th:href="@{/game_engine/add}"
       class="btn btn-primary btn-sm mb-3"> Добавить движок </a>
    <br/>


    <hr>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Движок</th>
            <th>Параметры</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="tempGame_engine : ${game_engine}">

            <td th:text="${tempGame_engine.id}" />
            <td th:text="${tempGame_engine.name}" />

            <td>
                <a th:href="@{/game_engine/update (id=${tempGame_engine.id})}"
                   class="btn btn-info btn-sm">Обновить</a>

                <a th:href="@{/game_engine/delete (id=${tempGame_engine.id})}"
                   class="btn btn-warning btn-sm"
                   onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
            </td>

        </tr>

        </tbody>
    </table>

    <hr>
    <a th:href="@{/}">В главное меню</a>


</div>
</body>
</html>