<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Список игр</title>
</head>
<body>
<div class="container">

    <h3 th:text="${genre.name}"></h3>
    <hr>
    <a th:href="@{/genre/selectGame (id_genre=${genre.id})}"
       class="btn btn-primary btn-sm mb-3"> Присвоить игру </a>
    <br/>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Действия</th>


        </tr>
        </thead>

        <tbody>
        <tr th:each="tempGame : ${genre.Game_ts}">
            <td th:text="${tempGame.id}" />
            <td th:text="${tempGame.name}" />
            <td>
                <a th:href="@{/genre/deleteGame (id_game=${tempGame.id}, id_genre=${genre.id})}"
                   class="btn btn-warning btn-sm"
                   onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
            </td>
        </tr>

        </tbody>
    </table>


    <a th:href="@{/genre/list}">К списку жанров</a>


</div>
</body>
</html>