<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Список жанров</title>
</head>
<body>
<div class="container">

    <h3>Жанры</h3>
    <hr>
    <a th:href="@{/genre/add}"
       class="btn btn-primary btn-sm mb-3"> Добавить жанр </a>
    <br/>


    <hr>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Параметры</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="tempGenre : ${genre}">

            <td th:text="${tempGenre.id}" />
            <td th:text="${tempGenre.name}" />

            <td>
                <a th:href="@{/genre/update (id=${tempGenre.id})}"
                   class="btn btn-info btn-sm">Обновить</a>
                <a th:href="@{/genre/game_t (id=${tempGenre.id})}"
                   class="btn btn-info btn-sm">Игры</a>
                <a th:href="@{/genre/delete (id=${tempGenre.id})}"
                   class="btn btn-warning btn-sm"
                   onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
            </td>

        </tr>

        </tbody>
    </table>

    <hr>
    <a th:href="@{/}">В главное меню</a>


</div>
</body>
</html>