<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.com" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text = "'Меню'"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h3>Меню</h3>
    <hr>
    <a th:href="@{/game_t/list}"
       class="btn btn-primary btn-sm mb-3"> Список игр</a>
    <br/>
    <a th:href="@{/genre/list}"
       class="btn btn-primary btn-sm mb-3"> Список жанров</a>
    <br/>
    <a th:href="@{/company/list}"
       class="btn btn-primary btn-sm mb-3"> Список компаний</a>
    <br/>
    <a th:href="@{/country/list}"
       class="btn btn-primary btn-sm mb-3"> Список стран</a>
    <br/>
    <a th:href="@{/prog_3d/list}"
       class="btn btn-primary btn-sm mb-3"> Список программ для 3Д</a>
    <br/>
    <a th:href="@{/game_engine/list}"
       class="btn btn-primary btn-sm mb-3"> Список игровых движков</a>
    <br/>
    <a th:href="@{/game_store/list}"
       class="btn btn-primary btn-sm mb-3"> Список игровых магазинов</a>
    <br/>
    <a th:href="@{/game_magazine/list}"
       class="btn btn-primary btn-sm mb-3"> Список игровых журналов</a>
    <br/>
    </div>
</body>
</html>


